<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/lekcje.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/edycja.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/edycjazadania.css}" rel="stylesheet" type="text/css" />
    <title>Dodawanie zadania</title>
</head>
<body>
<div class="menu_bar">
    <h1 class="logo"><a href="/">Matematyka na 100%</a></h1>
    <ul>
        <li><a href="/add_lesson">Dodaj lekcje</a></li>
        <li>
            <a href="#">Kursy Maturalne <i class="fas fa-caret-down"></i></a>

            <div class="dropdown__menu">
                <ul>
                    <li><a href="/indywidualne">Zajęcia Indywidualne</a></li>
                    <li><a href="#">Nagrania</a></li>
                    <li><a>Poziomy<i class="fas fa-caret-right"></i></a>
                        <div class="dropdown__menu-1">
                            <ul>
                                <li><a href="/matpodst">Matematyka podstawowa</a></li>
                                <li><a href="#">Matematyka rozszerzona</a></li>
                                <li><a href="#">Fizyka rozszerzona</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="editExercise">
<form id="exerciseForm" th:action="@{'/add_exercise'}" method="post" th:object="${exerciseDto}">
    <input type="hidden" th:field="${exerciseDto.exerciseId}">
    <div class="exercise_data">
        <p>Numer zadania:</p><p><input class="exercise_number" type="number"  th:field="${exerciseDto.exerciseNumber}" /></p>
    </div>
    <div class="exercise_data">
        <p>Temat zadania:</p><p><input class="exercise_topic" type="text"  th:field="${exerciseDto.exerciseTopic}" /></p>
    </div>
    <div class="exercise_data">
        <p>Treść zadania:</p><p><input class="exercise_text" type="text"  th:field="${exerciseDto.exerciseText}" /></p>
    </div>
    <div class="exercise_data">
        <p>Link do zadania:</p><p><input class="exercise_link" type="text"  th:field="${exerciseDto.exerciseLink}" /></p>
    </div>
    <div class="button_apply">
        <input type="submit" value="Zapisz"/>
    </div>
</form>
</div>


</body>
</html>