<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/lekcje.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/edycja.css}" rel="stylesheet" type="text/css" />
  <title>Matematyka podstawowa</title>
</head>
<body>
<div class="menu_bar">
  <h1 class="logo"><a href="/">Matematyka na 100%</a></h1>
  <ul>
    <li><a href="/add_lesson">Dodaj lekcje</a></li>
    <li>
      <a href="#">Kursy Maturalne <i class="fas fa-caret-down"></i></a>

      <div class="dropdown__menu">
        <ul>
          <li><a href="/indywidualne">Zajęcia Indywidualne</a></li>
          <li><a href="#">Nagrania</a></li>
          <li><a>Poziomy<i class="fas fa-caret-right"></i></a>
            <div class="dropdown__menu-1">
              <ul>
                <li><a href="/matpodst">Matematyka podstawowa</a></li>
                <li><a href="#">Matematyka rozszerzona</a></li>
                <li><a href="#">Fizyka rozszerzona</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li><a href="#">Logowanie</a></li>
    <li><a href="#">Rejestracja</a></li>

  </ul>
</div>



<form id="exerciseForm"th:action="@{'/matpodst/edit/' + ${id} + '/submit'}" method="post" th:object="${lessonDto}">

  <div class="edit_lesson">
    <div class="lesson_number">
      <input class="input_number" type="number"  th:field="${lessonDto.lessonNumber}" />
    </div>
    <div class="lesson_topic">
      <input class="input_topic" type="text"  th:field="${lessonDto.lessonTopic}" />
    </div>
    <div class="lesson_text">
      <input class="input_text" type="text"  th:field="${lessonDto.lessonText}" />
    </div>
    <div class="lesson_level">
      <input class="input_level" type="text"  th:field="${lessonDto.lessonLevel}" />
    </div>
  </div>

  <div class="edit">
    <div class="exercise" th:each="exercise, itemStat : *{exerciseDtos}">
      <div class="exercise_number">
        <input class="input_number" type="number"  th:field="*{exerciseDtos[__${itemStat.index}__].exerciseNumber}" />
      </div>
      <div class="exercise_text">
        <input class="input_text" type="text" th:field="*{exerciseDtos[__${itemStat.index}__].exerciseText}"/>
      </div>
      <div class="exercise_topic">
        <input class="input_topic" type="text" th:field="*{exerciseDtos[__${itemStat.index}__].exerciseTopic}" />
      </div>
      <div class="exercise_link">
        <input class="input_link" type="text" th:field="*{exerciseDtos[__${itemStat.index}__].exerciseLink}" />
      </div>
    </div>
  </div>

  <input type="submit" value="Zapisz"/>
</form>

</body>
</html>