<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista zadań</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{css/lekcje.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{css/edycja.css}" rel="stylesheet" type="text/css" />
    <title>Matematyka podstawowa</title>
</head>
<body>
<div class="menu_bar">
    <h1 class="logo"><a href="/">Matematyka na 100%</a></h1>
    <ul>
        <li><a href="/add_exercise">Dodaj zadanie</a></li>
        <li><a href="/add_lesson">Dodaj lekcje</a></li>
        <li>
            <a href="#">Kursy Maturalne <i class="fas fa-caret-down"></i></a>

            <div class="dropdown__menu">
                <ul>
                    <li><a href="/indywidualne">Zajęcia Indywidualne</a></li>
                    <li><a href="#">Nagrania</a></li>
                    <li><a>Poziomy<i class="fas fa-caret-right"></i></a>
                        <div class="dropdown__menu-1">
                            <ul>
                                <li><a href="/matpodst">Matematyka podstawowa</a></li>
                                <li><a href="#">Matematyka rozszerzona</a></li>
                                <li><a href="#">Fizyka rozszerzona</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>

        <li><a href="#">Logowanie</a></li>
        <li><a href="#">Rejestracja</a></li>

    </ul>
</div>

<div class="edit">
    <h2 class="header">Lista zadań</h2>
    <div class="exercise" th:each="user : ${users}">
        <div class="exercise_number">
            <div th:text="${user.firstname}" />
        </div>
        <div class="exercise_topic">
            <div th:text="${user.lastname}"/>
        </div>
        <div class="exercise_text">
            <div th:text="${user.email}" />
        </div>
        <div class="remove">
            <a th:href="'/send/' + ${user.id}"> Wyślij email</a>
        </div>
    </div>
</div>
<div class="footer">

</div>

</body>
</html>